<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .profile{
            display: flex;
            width: 100%;
            background-color: rgb(65, 105, 255);
            color: white;
            margin: 20px;
            border-radius: 30px;
            
        }
        .avatar{

        }
    </style>
  </head>
  <body>

    <div class="profile row">
        <div class=" avatar" st>
            <img style="width: 180px;" src="https://upload.wikimedia.org/wikipedia/vi/thumb/5/5c/Chelsea_crest.svg/1200px-Chelsea_crest.svg.png" class="user-image" alt="User Image">

            <div class="upload-avatar">
            <input type='file' onchange="readURL(this);"  class="input-file">
            <i class="fa fa-upload fa-2x"></i>

            </div>

        </div>

        <div class=" information col col-md-5 col-sm-5 col-xs-12">
            <h5 class="name">Nguyễn Văn A</h5>
            <p class="role">Admin</p>
            <ul class="list-information">
                <li class="item-information"><i class="fas fa-venus-mars"></i>
                    Nam</li>
                <li class="item-information"><i class="fas fa-at"></i>

                    abc@gmail.com</li>
                <li class="item-information"><i class="fas fa-home"></i>



                    137 Đỗ Đăng Tuyển </li>
                <li class="item-information"><i class="fas fa-phone"></i>



                    01225825 </li>
            </ul>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <link rel="shortcut icon" href="" type="image/x-icon"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
